<div bsModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Medicine</h4>

    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="onCloseModal()"
    >
      <span aria-hidden="true" style="outline: none">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ng-template [ngIf]="action !== 'view'" [ngIfElse]="viewTemplate">
      <form role="form" #f="ngForm" (submit)="onSubmit(f)">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                <label>Product Details</label>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label
                        >Medicine Name<span class="required-field">
                          *</span
                        ></label
                      >
                      <input
                        type="text"
                        class="form-control form-control-sm"
                        placeholder=" "
                        required
                        [(ngModel)]="product.name"
                        name="name"
                        #name="ngModel"
                      />
                      <div
                        *ngIf="
                          name.invalid &&
                          (f.submitted || name.dirty || name.touched)
                        "
                        class="required-alert alert alert-danger"
                      >
                        <span *ngIf="name?.errors.required">
                          This field is required.
                        </span>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="form-group">
                      <label
                        >Description<span class="required-field">
                          *</span
                        ></label
                      >
                      <textarea
                        type="text"
                        class="form-control form-control-sm"
                        maxlength="255"
                        placeholder=" "
                        required
                        [(ngModel)]="product.description"
                        name="description"
                        #description="ngModel"
                      ></textarea>
                      <div
                        *ngIf="
                          description.invalid &&
                          (f.submitted ||
                            description.dirty ||
                            description.touched)
                        "
                        class="required-alert alert alert-danger"
                      >
                        <span *ngIf="description?.errors.required">
                          This field is required.
                        </span>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Image</label>
                      <app-file-upload
                        (onFileUploadEvent)="onFileUploadEvent($event)"
                        [config]="imageConfig"
                      ></app-file-upload>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Price</label>
                      <input
                        type="number"
                        class="form-control form-control-sm"
                        placeholder=" "
                        [(ngModel)]="product.price"
                        name="price"
                        #price="ngModel"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="padding-top: 5px">
          <div class="col-md-12 text-right">
            <button type="submit" class="btn btn-sm btn-success">
              <i class="fa fa-dot-circle-o"></i> Submit</button
            >&nbsp;
            <!--          <button type="button" class="btn btn-sm btn-danger" (click)="onClickReset(f);" [disabled]="action === 'edit'"><i class="fa fa-ban"></i>-->
            <!--            Reset-->
            <!--          </button>-->
          </div>
        </div>
      </form>
    </ng-template>

    <ng-template #viewTemplate>
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-4 view-label-style">
                  <label>Medicine Name</label>
                </div>
                <div class="col-md-8">
                  <span> {{ product.name || "N/A" }}</span>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4 view-label-style">
                  <label>Description</label>
                </div>
                <div class="col-md-8">
                  <span> {{ product.description || "N/A" }}</span>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4 view-label-style">
                  <label>Price</label>
                </div>
                <div class="col-md-8">
                  <span> {{ product.price || "N/A" }}</span>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4 view-label-style">
                  <label>Image</label>
                </div>
                <div class="col-md-8">
                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-12 col-md-8">
                          <img
                            [src]="
                              globalVariable.appConfig.IMAGE_URL + product.image
                            "
                            class="rounded"
                            alt="image"
                            style="width: 100%; height: 100%"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
