<div class="row">
  <div class="col-md-6 col-sm-12">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Medicine Name</span>
      </div>
      <input
        type="text"
        class="form-control"
        aria-label="Medicine Name"
        [(ngModel)]="filterObject.productName"
      />
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Radius</span>
      </div>
      <input
        type="number"
        class="form-control"
        placeholder="Radius of the circle"
        aria-label="Radius"
        [(ngModel)]="radiusByKiloMeters"
      />
    </div>
  </div>
  <div class="col-md-2 col-sm-6">
    <button
      class="btn btn-success btn-block"
      type="submit"
      (click)="onApplyFilter()"
    >
      Apply
    </button>
  </div>
</div>
<app-custom-map
  [markerList]="filteredShopList"
  [radiusByKiloMeters]="radiusByKiloMeters"
  (onCurrentLocationChanged)="onCurrentLocationChange($event)"
  (onRadiusChanged)="onRadiusChanged($event)"
  (onClickPharmacy)="onClickPharmacy($event)"
></app-custom-map>
<br>
<div class="row">
  <div
    class="col-md-3 col-sm-6 col-xs-12"
    *ngFor="let pharmacy of filteredShopList"
  >
    <app-pharmacy-tile [pharmacyDetails]="pharmacy" (onVisitPharmacy)="onClickPharmacy($event)"></app-pharmacy-tile>
  </div>
</div>
