<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-3">
          <i class="fa fa-align-justify"></i> Product Brands
        </div>
        <div class="col-md-12 text-right">
          <button type="button" class="btn btn-sm btn-danger" (click)="onUpdateStatus(staticConfig.STATUS_LIST.DELETED,'Deleted');">Delete</button>&nbsp;
          <button type="button" class="btn btn-sm btn-warning" (click)="onUpdateStatus(staticConfig.STATUS_LIST.SUSPENDED,'Suspend');">Hold</button>&nbsp;
          <button class="btn btn-sm btn-success" type="button" (click)="onUpdateStatus(staticConfig.STATUS_LIST.APPROVED,'Approved');" >Approve</button>&nbsp;
          <button type="button" class="btn btn-sm btn-primary" (click)="onClickAddBtn()">Add New</button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <app-data-grid [gridOnChangeTime]="gridOnChangeTime" [gridEvent]="gridEvent" [gridConfig]="gridConfig" (onGridActionEvent)="onGridActionEvent($event)"></app-data-grid>
    </div>
  </div>
</div>
