<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-6">
          <i class="fa fa-align-justify"></i> Shop Additional Data Key
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-9 text-right">
              <select id="select" name="select" class="form-control form-control-sm" [(ngModel)]='shopSelected' (ngModelChange)='onShopSelected()'>
                <option [ngValue] = "null">- SELECT SHOP -</option>
                <option class='option' *ngFor='let shop of shopList' [ngValue]="shop">{{shop.shopName}}</option>
              </select>
            </div>
            <div class="col-md-3 text-right">
              <button type="button" class="btn btn-sm btn-primary" (click)="onClickAddBtn()">Add New</button>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="card-body">
      <table class="table table-bordered table-striped table-sm table-responsive-md">
        <thead>
        <tr>
          <th>Key</th>
          <th>Value</th>
          <th width="50"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of additionalData | keys">
          <td>{{data.key}}</td>
          <td>{{data.value}}</td>
          <td>
            <button type="button" class="btn action-btn btn-sm btn-primary"
                    [disabled]="data.key === '_id' || data.key === 'masterDataId' || data.key === 'status'"
                    (click)="onClickEditKey(data);">
              <i class="fas fa-edit"></i>
            </button>
          </td>
        </tr>
        <tr *ngIf="(additionalData | json) === ({} | json)">
          <td colspan="3" style="text-align: center">no record found !</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
