<div class="row">
  <div class="col-md-4 col-sm-12">
    <div class="card">
      <div class="card-header">Pharmacy Details</div>
      <div class="card-body">
        <img
          [src]="globalVariable.appConfig.IMAGE_URL + shopDetails?.image"
          class="rounded"
          alt="image"
          style="width: 100%; height: 100%"
        />
        <h5 class="card-title">{{ shopDetails?.name }}</h5>
        <h5 class="card-subtitle mb-2 text-muted">{{ shopDetails?.telephone }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">
          {{ shopDetails?.address }},{{ shopDetails?.city }}
        </h6>
        <h6 class="card-subtitle mb-2 text-muted">{{ shopDetails?.email }}</h6>
        <p class="card-text">
          {{ shopDetails?.description }}
        </p>
        <div *ngIf="shopDetails">
          <app-map
            [marker]="{ lat: shopDetails.latitude, lng: shopDetails.longitude }"
            [markerChangeble]="false"
          ></app-map>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8 col-sm-12">
    <div class="row">
      <div class="col-8">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search Medicine"
          aria-label="Search"
          [(ngModel)]="medicineKeyword"
        />
      </div>
      <div class="col-4">
        <button
          class="btn btn-outline-success my-2 my-sm-0 btn-block"
          type="button"
          (click)="onClickSearch()"
        >
          Search
        </button>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-4 col-sm-6" *ngFor="let p of productList">
        <div class="card">
          <div class="card-body">
            <div style="width: 100%; height: 100px">
              <img
                [src]="globalVariable.appConfig.IMAGE_URL + p?.image"
                class="rounded"
                alt="image"
                style="width: 100%; height: 100%"
              />
            </div>

            <h5 class="card-title">{{ p.name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">
              {{ p.price | number: "1.2-2" }} LKR
            </h6>
            <div class="card-text scroll">
              {{ p.description }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
