<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Admin List
          <button class="float-right btn btn-primary" (click)="onGridAction('add',null)" >Add New</button>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
            <tr>
              <th>User Name</th>
              <th>Email</th>
              <th>Full Name</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let record of gridRecordList; let i = index">
              <td>{{record.userName}}</td>
              <td>{{record.email}}</td>
              <td>{{record.fullName}}</td>
              <td>{{record.status | statusPipe}}</td>
              <td>
                <button class="btn btn-success" (click)="onGridAction('view',record)" >View</button>
                <button class="btn btn-warning" (click)="onGridAction('edit',record)" >Edit</button>
              </td>
            </tr>
            </tbody>
          </table>

          <div class="row">
            <div class="col-md-6">
              <pagination [totalItems]="pagination.recordCount" [itemsPerPage]="pagination.itemsPerPage" [maxSize]="pagination.maxPageNumberCount" class="pagination-sm"
                          [boundaryLinks]="true" [rotate]="false" (pageChanged)="onPageChange($event)"></pagination>
            </div>
            <div class="col text-right">
              <label style="color: #0275d8;padding-right: 5px;">(Total Items {{pagination.recordCount}}) </label>
              <button type="button" class="btn btn-primary btn-sm" (click)="onClickRefresh();"><i class="fa fa-refresh" aria-hidden="true"></i> Refresh</button>
            </div>
          </div>
<!--          <pagination [totalItems]="pagination.recordCount" [itemsPerPage]="pagination.itemsPerPage" [maxSize]="pagination.maxPageNumberCount" class="pagination-sm"-->
<!--                      [boundaryLinks]="true" [rotate]="false" (pageChanged)="onPageChange($event)"></pagination>-->
        </div>
      </div>
    </div>
  </div>
</div>
