<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-3">
          <i class="fa fa-align-justify"></i> Service Category
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-7 text-right">
              <select name="select" class="form-control form-control-sm" [(ngModel)]='domainSelected' (ngModelChange)='onChangeDomain()'>
                <option [ngValue] = "null">- SELECT DOMAIN -</option>
                <option class='option' *ngFor='let domain of domainList' [ngValue]="domain">{{domain.name}}</option>
              </select>
            </div>
            <div class="col-md-5 text-right">
              <button type="button" class="btn btn-sm btn-danger" (click)="onUpdateStatus(staticConfig.STATUS_LIST.DELETED,'Deleted');">Delete</button>&nbsp;
              <button type="button" class="btn btn-sm btn-warning" (click)="onUpdateStatus(staticConfig.STATUS_LIST.SUSPENDED,'Suspend');">Hold</button>&nbsp;
              <button class="btn btn-sm btn-success" type="button" (click)="onUpdateStatus(staticConfig.STATUS_LIST.APPROVED,'Approved');" >Approve</button>&nbsp;
              <button type="button" class="btn btn-sm btn-primary" [disabled]="!domainSelected" (click)="onClickAddBtn()">Add New</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <app-data-grid [gridOnChangeTime]="gridOnChangeTime" [gridEvent]="gridEvent" [gridConfig]="gridConfig" (onGridActionEvent)="onGridActionEvent($event)"></app-data-grid>
    </div>
  </div>
</div>
